[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"boto3" = "*"
twitterapi = "*"
tweepy = "*"
pymongo = "*"
dnspython = "*"
docopt = "==0.6.2"


[dev-packages]

